@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: 'Open Sans', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container
{
    width: 80%;
    margin: 0 auto;
    padding-top: 24px ;
    padding-bottom: 24px;
    justify-content: space-between;
}
.flex {
    display: flex;
    align-items: center;
}



.nav {
    display: flex;
    gap: 128px;
}

li a {
    display: flex;
    width: fit-content;
    font-weight: 700;
    font-size: 14px;
}

li a:hover {
    color: rgba(222, 46, 84, 1);
}

.qabul {
    width: 189px;
    height: 47px;
    font-weight: 700;
    font-size: 15px;
    color: rgba(222, 46, 84, 1);
    border: 2px solid rgba(222, 46, 84, 1);
    border-radius: 8px;
    padding: 12px , 24px, 12px, 24px;
}

.wrapper {
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}


section .container-img {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.text h1 {
    width: 600px;
    height: 82px;
    font-weight: 700;
    font-size: 36px;
    color: #FFFF;

}

.text {
    margin-right: 200px;
    margin-bottom: 65px;
}

.yozilish {
    padding: 12px 24px ;
    font-size: 15px;
    font-weight: 700;
    color: #FFFF;
    background-color: rgba(222, 46, 84, 0.8);
    margin-top: 100px;
}


.text img {
    width: 423px;
    height: 482px;
    padding-top: 50px;
}

.xizmatlar h1 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 65px;
    font-weight: 700;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
}

.malumot {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;

}

.first {
    align-items: center;
}

.first h3 {
    width: 67px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
}

.container-information h1 {
    width: fit-content;
    margin: 0 auto ;
    margin-top: 65px;
    margin-bottom: 30px;
}

.block {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 80px;

}

.text {
    margin-left: 64px;
}

.text h3 {
    width: 67px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 24px;
    margin-top: 25px;
}

.text p {
    width: 900px ;
    height: 69px;
    font-weight: 400;
    font-size: 16px;
}






.second-block {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 215px;

}


.second-text {
    margin-right: 350px;
}

.second-text h3 {
    width: fit-content;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 24px;
    margin-top: 25px;
}

.second-text p {
    width: 600px ;
    height: 69px;
    font-weight: 400;
    font-size: 16px;
}

.contact {
    background-color: rgba(14, 180, 193, 1);

}



.location {
    display: flex;
    margin: 0 auto;
    width: fit-content ;
}

.container-contact h1 {
    width: 527px;
    height: 63px;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    margin: 0 auto;
    margin-top: 84px;
    margin-bottom: 111px;
}

.karta {
    margin-right: 68px;
    margin-bottom: 100px;
}

.karta iframe {
    border-radius: 5px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 27px 40px;
    width: 540px ;
    height: 331px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

input {
    width: 460px;
    height: 39px;
    border-radius: 5px ;
    border: 1px solid rgba(94, 84, 164, 1)
}

::placeholder {
    width: 105px;
    height: 26px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    margin-left: 32px;

}

#submit {
    background: rgba(56, 204, 139, 1);
    color: #FFFF;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.0909) inset;
}

footer{
    background: black;
    padding: 24px;
}


.container-foot  {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-foot ul {
    display: flex;
    gap: 32px;
}